*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 10px auto;
    width: 90%;
    height: 400px;
    max-width: 500px;
    outline: 4px solid;

    display:grid;
    /* dividimos el espaciodel contenedor en tres columnas */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* dividimos el espaciodel contenedor en seis columnas */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* lo mismo que arriba */
    display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        /* Aquí corrige las filas */
    

}

.element{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.element-1{
    background-color: seagreen;
}
.element-2{
    background-color: deeppink;
}
.element-3{
    background-color: indigo;
}
.element-4{
    background-color: royalblue;
}